* {
  /* margin: 0 !important; */
  /* padding: 2 !important; */
}
.header {
  padding: 2rem;
  /* padding-top: 4rem; */

  background-color: #173348;
  color: #f8f9f9;
}

.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #173348;
  width: 100%;
  z-index: 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
  align-items: center;
}

.logo {
  width: 20%;
}
.nav_menu {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav_links {
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.hammer {
  display: none;
}

.close_menu {
  position: absolute;
  display: block !important;
  right: 0;
  top: 3px;
  color: white;
}
.close_hide {
  display: none;
}
/* cross will not show and will show on responsive  */

@media (max-width: 946px) {
  .nav_menu {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .hammer {
    display: block;
  }
  .line {
    width: 30px;
    height: 4px;
    background-color: #f8f9f9;
    margin-top: 3px !important;
  }

  .nav_menu {
    position: absolute;
    left: -800px;
    /* display: none; */
  }

  /* -10000px so to put it on left so when .nav_reponsive class has 1s left ease which make it like slide from left side */
}

/* responsive class will add on when user click ion hammer */

.nav_links_responsive {
  /* border: 2px solid red; */
  text-align: center;
  color: white;
  font-size: 2rem;
}

.nav_responsive {
  display: flex !important;
  position: absolute;
  transition: left 1s ease;
  /* transition-delay: 1s; */
  right: 0;
  width: 60%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #173348;
  flex-direction: column;
  padding-top: 2rem !important;
}

/* .bd_green {
  border: 2px solid green;
}

.bd_blue {
  border: 2px solid blue;
}

.bd_yellow {
  border: 2px solid yellow;
}

.bd_red {
  border: 2px solid red;
} */
