.news {
  /* height: 100vh; */
  /* background-color:#173348 !important ;
    border:2px solid green */
}
body {
  background-color: #173348;
}
.card-scroll-content {
  width: 70%;
  margin: 0 auto;
  background-color: #e5e7eb !important;
  border-radius: 4px 4px 4px 4px !important;
  min-width: 350px;
}

p {
  font-size: 20px;
}

.news-content {
  height: 100vh;
  background-image: url("https://stadkoll.se/img/home.6c615e45.jpg");
  background-size: cover;
  background-position: top left !important;
  padding-top: 2rem !important;
  padding: 3rem;
  text-align: center;
  margin-top: 1rem;
}

.news-posts {
  display: flex;
  justify-content: space-between;
}
.news-img-left {
  width: 40%;
  /* min-width:293px !important; */
}
.news-right {
  width: 60%;
  /* min-width: 499px; */
  word-wrap: break-word
}

@media only screen and (max-width: 1000px){
    /*Tablets [601px -> 1200px]*/

    .news-posts{
        flex-direction: column !important;
        align-items:center;


    }
    .news-img-left {
        width: 100%;
      
      }
      .news-right {
        width: 100%;
   
      }
      

}